:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #10063e;

    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #2aac5eef;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    --text-muted: #e2e2e2;
    --text-muted-sm: #dfdfdf;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    /*color speed*/
    --bg-spped: #10063e;
}

.cardt {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);

    height: 180px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;

}

ion-modal#example-modal2 {
    --height: 35%;

}

.text-muted-sm {
    color: #9b9b9b !important;
}

.wifi-dark {
    background-color: #9b9b9b !important;
}

.card-t {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);

    height: 180px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
}

.boxshadow {
    box-shadow: -2px 8px 9px -1px rgba(173, 173, 173, 0.75);
    -webkit-box-shadow: -2px 8px 9px -1px rgba(173, 173, 173, 0.75);
    -moz-box-shadow: -2px 8px 9px -1px rgba(173, 173, 173, 0.75);
}

.boxshadow-invers {
    box-shadow: 10px 10px 60px 0px rgba(173, 173, 173, 0.75) inset;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(173, 173, 173, 0.75) inset;
    -moz-box-shadow: 10px 10px 60px 0px rgba(173, 173, 173, 0.75) inset;
}

.card__applynombre {
    margin-top: -40px !important;
}

@media only screen and (max-width: 667px) {
    .cardt {
        border-radius: 10px;
        filter: drop-shadow(0 5px 10px 0 #ffffff);

        height: 155px;
        background-color: #ffffff;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: 0.6s ease-in;
    }

    .cardt-block {
        border-radius: 10px;
        filter: drop-shadow(0 5px 10px 0 #ffffff);

        height: 155px;
        background-color: var(--text-muted-sm);
        ;
        padding: 20px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: 0.6s ease-in;
        cursor: not-allowed;
    }

    .card-t {
        border-radius: 10px;
        filter: drop-shadow(0 5px 10px 0 #ffffff);

        height: 155px;
        background-color: #ffffff;
        padding: 20px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: 0.6s ease-in;
    }

    .cardt-block {
        border-radius: 10px;
        filter: drop-shadow(0 5px 10px 0 #ffffff);

        height: 155px;
        background-color: var(--text-muted-sm);
        ;
        padding: 20px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: 0.6s ease-in;
        cursor: not-allowed;
    }

    ion-modal#example-modal2 {
        --height: 50%;
        --width: 90%
    }

    .card__apply {
        margin-top: -25px !important;
    }

    .card__applynombre {
        margin-top: -40px !important;
    }

    h4 {
        font-size: 0.9em !important;
    }

    p.card__link {
        font-size: 0.8em !important;
    }
}

.card-sm {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #ffffff;
    padding: 20px;

    z-index: 0;
    overflow: hidden;

    transition: 0.6s ease-in;
}

.cardt-block {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);

    height: 180px;
    background-color: var(--text-muted-sm);
    ;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
    cursor: not-allowed !important;
}

.cardt-icon {
    cursor: not-allowed !important;
}

.cardt-red::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: var(--ion-color-danger);
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

/*.cardt-block::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
   left: 0px;
    background: var(--text-muted);
    height: 220px;
    width: 100% !important;
    border-radius: 32px;
    transform: scale(1);
    color: #fff !important;
   /* transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;*
}*/

.cardt-red h4 {
    color: #cb1656;

}

.cardt:hover h4 {
    color: #ffffff !important;
}

.cardt-success::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: var(--ion-color-success-tint);
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.cardt-dark::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: var(--bg-spped);
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.cardt-primary::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: var(--ion-color-primary-tint);
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.cardt:hover::before {
    transition-delay: 0.3s;

    transform: scale(70);
}

.cardt:hover {
    color: var(--ion-color-danger-contrast) !important;
    cursor: pointer !important;

}

.cardt:hover .text-primary h4 {
    color: #ffffff !important;
}

.cardt:hover::before .card__link,
.card__exit,
.card__icon {
    transition-delay: 0.2s;

    transform: scale(40);
}

.cardt:hover .card__link,
.card__exit,
.card__icon {
    color: #ffffff !important;
    transition: transform 0.25s ease-out;
}

.cardt p {
    padding: 5px 0;
}

.card__link,
.card__exit,
.card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(26, 24, 24, 0.9);

}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover {
    cursor: pointer !important;
}

.card__link:hover::after {
    width: 100%;
}


.card__exit {
    grid-row: 1/2;
    justify-self: end;
}

.card__icon {
    grid-row: 2/3;
    font-size: 30px;
}

.card_icon {

    font-size: 20px;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}

ion-popover {

    --backdrop-opacity: 0.6;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    --color: white;
    --width: 400px !important;
}

ion-popover ion-content {
    --background: rgba(255, 255, 255, 0);
}

ion-popover::part(backdrop) {
    background-color: rgba(228, 229, 231, 0);
}

ion-toggle {
    padding: 12px;
    width: 50px !important;
    height: 25px !important;
    
    /* padding: 12px;

  --track-background: #ddd;
  --track-background-checked: #ddd;

  --handle-background: #eb7769;
  --handle-background-checked: #95c34e;

  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  --handle-border-radius: 4px;
  --handle-box-shadow: none;*/
}