:root {
    --bg-estado: #a9dfbf48;
    --bg-reporte: #31313167;
    --bg-servicio: #31313167;
    --bg-wifi: #cb1656;
    --secondary: #5e5a5ada;
        --white: #fff;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content {
    --background: transparent;
    --ion-color-base: transparent !important;
}

body {
    background-color: rgb(243, 242, 242);
}
.green{
    animation: color 1s infinite;
}
@keyframes color {
    to { fill: #47df25;}
    from {fill:"#5e5a5ada";}
}


/*
ion-item.selected{
    background-color: #3691ef !important;
    color: #fff !important;
}
ion-item.selected> ion-icon {
    background-color: #3691ef !important;
    color: #fff !important;
}*/
.btn-default,
.btn-default:hover {
    color: var(--secondary) !important;
    background-color: var(--white) !important;
    border-color: rgb(175, 175, 175) !important;
}

.btn-default {
    -webkit-box-shadow: 0 !important;
    box-shadow: 0 !important;
}

.font-weight-light {
    font-size: 0.7em;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.50rem !important;
}

.mt-n3 {
    margin-top: -0.750rem !important;
}

.mt-n4 {
    margin-top: -1.0rem !important;
}

.mt-n5 {
    margin-top: -1.8rem !important;
}

.success {
    background-color: var(--bg-estado) !important;
}

.dark {
    background-color: var(--bg-reporte) !important;
}

.info {
    background-color: var(--bg-wifi) !important;
}
.img-fluid-sm{
    opacity: 0.2px !important;
    background-color: #030207 !important;
   
    
}
.header {
    text-align: center !important;
}

.text-info {
    text-transform: capitalize !important;
    padding: 5px;
    font-weight: bold;
    font-size: 13px !important;
}

.header .img-fluid-sm:hover {
    filter: blur(0.05rem) !important;
}

.border-activo {
    background-color: #4649460e;
    color: #67a958 !important;
    border: none !important;
}

.card-header {
    border: none !important;
}

.icon-app {
    font-size: 35px;
    color: #fff;
}

.reporte {
    background-color: #3692ef1e !important;
    color: #3691ef !important;
}

.wifi {
    background-color: #cb1656 !important;
}

.wifi-sm {
    background-color: #cb165517 !important;
    color: #cb1656 !important;
}

.options {
    cursor: pointer;
    transition: 1.3s;
   
}

.options:hover {
    transform: scale(1.02);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-md {
    box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.23);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

.shadow-xs {
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.18);
}






.invoice .invoice-date .date,
.invoice .invoice-from strong,
 h5.invoice,
.invoice .invoice-to strong
{
    font-size: 16px !important;
    font-weight: 500 !important;
}


.invoice .table-invoice {
    font-size: 13px;
}

ion-toast.custom-toast {
    --background: #F4F4FA;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #4b4a50;
}

ion-toast.custom-toast::part(message) {
    font-style: italic;
}

ion-toast.custom-toast::part(button) {
    border-left: 1px solid #d2d2d2;
    color: #030207;
    font-size: 15px;
}
.bi{
    cursor: pointer;
    /*font-size: 1px !important;*/
}
ul.list {
    list-style-image: url("./mas.svg");
    list-style-position: inside;
}
.content {
    
    font-size: small;
    padding: 20px 25px;
}
.items-precios{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    font-size: 20px !important;
    font-weight: bold !important;
}
.note {
    color: #474747 !important;
    margin-top: 80px !important;
    font-size: 11px !important;
    line-height: 1.75 !important;
}
.note-sm
 {
     color: #474747 !important;
     margin-top: 30px !important;
     font-size: 11px !important;
     line-height: 1.75 !important;
 }
.full-screen-modal {
    height: 100% !important;
    width: 100% !important;
}
ion-popover {
    --width: 320px !important;
}
ion-header{
    background: #fff !important;
        color: #000 !important;
}
/*rgba(239, 242, 245, 0.812)
.ion-toolbar-transparent {
    background: #2284e7cf;
    color:#fff;
}*/
.modal-content {
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}