:root {
    --bg-estado: #a9dfbf48;
    --bg-reporte: #31313167;
    --bg-servicio: #31313167;
    --bg-wifi: #cb1656;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content {
    --background: transparent;
    --ion-color-base: transparent !important;
}

body {
    background-color: rgb(243, 242, 242);
}


/*
ion-item.selected{
    background-color: #3691ef !important;
    color: #fff !important;
}
ion-item.selected> ion-icon {
    background-color: #3691ef !important;
    color: #fff !important;
}*/

.font-weight-light {
    font-size: 0.7em;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -0.50rem !important;
}

.mt-n3 {
    margin-top: -0.750rem !important;
}

.mt-n4 {
    margin-top: -1.0rem !important;
}

.mt-n5 {
    margin-top: -1.8rem !important;
}

.success {
    background-color: var(--bg-estado) !important;
}

.dark {
    background-color: var(--bg-reporte) !important;
}

.info {
    background-color: var(--bg-wifi) !important;
}

.border-activo {
    background-color: #4649460e;
    color: #67a958 !important;
}

.icon-app {
    font-size: 35px;
    color: #fff;
}

.reporte {
    background-color: #3692ef1e !important;
    color: #3691ef !important;
}

.wifi {
    background-color: #cb1656 !important;
}

.wifi-sm {
    background-color: #cb165517 !important;
    color: #cb1656 !important;
}

.options {
    cursor: pointer;
    transition: 1.3s;
}

.options:hover {
    transform: scale(1.1);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-md {
    box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.23);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

.shadow-xs {
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.18);
}




@media (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        -ms-flex-pack: center !important;
        justify-content: center !important;
        margin-top: 1rem !important;
       
    }
        
         
}
ul,
li {
    list-style-type: none;
    padding: 1px;
}

.invoice .invoice-date .date,
.invoice .invoice-from strong,
 h5.invoice,
.invoice .invoice-to strong
{
    font-size: 16px !important;
    font-weight: 500 !important;
}


table.collapsed td.dtr-control {
    background: url('mas.svg') no-repeat center;
    cursor: pointer !important;
}
tr.dt-hasChild.parent td.dtr-control {
    background: url('minus.svg') no-repeat center;
}
.invoice .table-invoice {
    font-size: 13px;
}

.dataTables_filter {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

table {
    border-top: 1px solid black;
    font-size: 13px;
}

.dataTables_filter label {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content:  flex-end;
    align-content: space-between;


}

.dataTables_filter input {
    margin-top: 2px;
}

/*a.paginate_button.current {
    background-color: rgb(0, 47, 255) !important;

}*/
li.paginate_button :hover {
    background: "red" !important;
    background-color: #3691ef;
}

li.paginate_button {

    padding: 1px !important;
}
ion-toast.custom-toast {
    --background: #F4F4FA;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #4b4a50;
}

ion-toast.custom-toast::part(message) {
    font-style: italic;
}

ion-toast.custom-toast::part(button) {
    border-left: 1px solid #d2d2d2;
    color: #030207;
    font-size: 15px;
}
.items-precios{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    font-size: 20px !important;
    font-weight: bold !important;
}
.note {
    color: #474747 !important;
    margin-top: 80px !important;
    font-size: 11px !important;
    line-height: 1.75 !important;
}
.note-sm
 {
     color: #474747 !important;
     margin-top: 30px !important;
     font-size: 11px !important;
     line-height: 1.75 !important;
 }