/* Background Styles */

.bg-welcome {
    background: url(../img/background-welcome.png);
    background-size: cover;
    background-position: top;
}

.bg-welcome-radius {
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
}

/* gradiantes */
.bg-oreange-gradient {
    background: rgb(237, 28, 36);
    background: linear-gradient(90deg, rgba(237, 28, 36, 1) 0%, rgba(241, 90, 36, 1) 50%, rgba(237, 28, 36, 1) 100%);
}

.bg-purpura-gradient {
    background: rgb(121, 56, 196);
    background: linear-gradient(90deg, rgba(121, 56, 196, 1) 0%, rgba(165, 89, 251, 1) 50%, rgba(121, 56, 196, 1) 100%);
}

.bg-blue-gradient {
    background: rgb(0, 129, 199);
    background: linear-gradient(90deg, rgba(0, 129, 199, 1) 0%, rgba(26, 36, 91, 1) 100%);
}

.bg-yello-gradient {
    background: rgb(237, 132, 0);
    background: linear-gradient(90deg, rgba(237, 132, 0, 1) 0%, rgba(255, 188, 0, 1) 50%, rgba(237, 132, 0, 1) 100%);

}

/*Background Colores */

.blue-gradient {
    background: linear-gradient(90deg, rgba(0, 129, 199, 1) 0%, rgba(26, 42, 91, 1) 100%);
}


/* Background Styles */

.shadow-1 {
    box-shadow: 3px 6px 14px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 6px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 14px -4px rgba(0, 0, 0, 0.75);
}

.shadow-2 {
    box-shadow: 3px 6px 14px -6px rgba(143, 143, 143, 0.75);
    -webkit-box-shadow: 3px 6px 14px -6px rgba(143, 143, 143, 0.75);
    -moz-box-shadow: 3px 6px 14px -6px rgba(143, 143, 143, 0.75);
}

/* Varios Styles */
.none-style {
    text-decoration: none;
    list-style: none;
}

.btn-size-1 {
    width: 180px;
}