ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
}
.alert-title{
    font-size: 1.2em  !important;
}
.alert-button-group {
    padding: 8px !important;
}

.alert-button-role-confirm{
    background-color: var(--ion-color-success) !important;
    color: var(--ion-color-success-contrast) !important;
}
.alert-button-role-cancel{
    background-color: var(--ion-color-danger) !important;
    color: var(--ion-color-success-contrast) !important;
}

.md .alert-button-role-confirm {
    border-radius: 4px;
}
.md .alert-button-role-cancel {
    border-radius: 4px;
}

.ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios .alert-button-role-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.ios .alert-button-role-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}